.header {
  background-color: #ffb8ca;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }

  .logo {
    @media screen and (min-width: 768px) {
      margin-right: 280px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 110px;
    }
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;

    .close-icon {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &.is-open {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 101;
      right: 15px;
      top: 5px;
    }

    &.is-open .close-icon {
      display: block;
    }

    .mobile-menu-trigger {
      width: 20px;
      height: 12px;
    }

    &.is-open .close-icon .mobile-menu-trigger {
      width: 14px;
      height: 14px;
    }

    &.is-open .burger-icon {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 20px;
    }
  }

  .menu {
    @include fonts(700, 14, 1.286, 0.03em);
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      background-color: #e17992;
      width: 250px;
      height: 502px;
      padding-top: 60px;
      padding-bottom: 152px;
      padding-left: 21px;
      padding-right: 20px;

      &.is-open {
        opacity: 1;
        visibility: visible;
      }
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .navigation {
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        padding-right: 84px;
      }
    }

    .list {
      @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .list-item {
    padding-top: 13px;
    padding-bottom: 11px;
    @media screen and (max-width: 1199px) {
      border-bottom: solid 1px #e18298;
      border-top: solid 1px #e18298;
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    .link {
      color: $rvs-text-color;
      display: inline-block;

      &.current {
        color: $accent-text-color;
      }
    }
  }

  .button.reverse {
    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
    &.tablet {
      display: none;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0;
        display: block;
      }
    }
  }
}
