html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: $primary-text-color;
  //   background-color: $hero-headline-text-color;
  font-family: DM Sans;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.image {
  display: block;
}

.list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  font-style: normal;
  text-decoration: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
